### Problem Statement 9.1

1) How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)

create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'

import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [17]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
s = df['X']
print(df.T)

   0  1  2  3  4  5  6  7  8  9
X  7  2  0  3  4  2  5  0  3  4

In [24]:
x = (s != 0).cumsum()
y = x != x.shift()
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()
print(df)

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

### 2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [25]:
## Date time functions
import time
import datetime
print("Current date and time: " , datetime.datetime.now())
print("Current year: ", datetime.date.today().strftime("%Y"))
print("Month of year: ", datetime.date.today().strftime("%B"))
print("Week number of the year: ", datetime.date.today().strftime("%W"))
print("Weekday of the week: ", datetime.date.today().strftime("%w"))
print("Day of year: ", datetime.date.today().strftime("%j"))
print("Day of the month : ", datetime.date.today().strftime("%d"))
print("Day of week: ", datetime.date.today().strftime("%A"))

Current date and time:  2018-04-25 15:44:45.155561
Current year:  2018
Month of year:  April
Week number of the year:  17
Weekday of the week:  3
Day of year:  115
Day of the month :  25
Day of week:  Wednesday

In [72]:
# Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.
import numpy as np
import datetime
dates = pd.date_range('20150101',periods = 365)
print('\nThe Datetime index:\n',dates)
np.random.seed(101)
s = pd.DataFrame(data= np.random.randn(365,3),columns = ['A','B','C'], index=dates)
s
print('\n Sum of each column in s:\n','-'*30)
print(s.sum())

The Datetime index:
 DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2015-12-22', '2015-12-23', '2015-12-24', '2015-12-25',
               '2015-12-26', '2015-12-27', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

 Sum of each column in s:
 ------------------------------
A   -12.278403
B    18.598184
C    11.450733
dtype: float64

### 3) Find the sum of the values in s for every Wednesday

In [73]:
# s.reset_index().rename(columns={s.index.name:'Date'}).head()
s = s.rename_axis('Date').reset_index()
s['Weekday'] = s['Date'].dt.weekday_name

        Date         A         B         C   Weekday
0 2015-01-01  2.706850  0.628133  0.907969  Thursday
1 2015-01-02  0.503826  0.651118 -0.319318    Friday
2 2015-01-03 -0.848077  0.605965 -2.018168  Saturday
3 2015-01-04  0.740122  0.528813 -0.589001    Sunday
4 2015-01-05  0.188695 -0.758872 -0.933237    Monday

In [85]:
s.groupby(s['Weekday']=='Wednesday').sum()
# s.groupby(s['Weekday']).sum()

                A          B          C  Month
Weekday
False   -4.275014  13.588237  -2.353162   2038
True    -8.003389   5.009947  13.803896    344

### 4) Average For each calendar month

In [83]:
s['Month'] = s['Date'].dt.month
s.groupby(s['Month']).mean()

              A         B         C
Month
1      0.304566  0.403407 -0.054853
2     -0.252043 -0.330328  0.362171
3     -0.134050 -0.024208  0.240192
4     -0.070498  0.240064 -0.124754
5     -0.247475  0.056568  0.234799
6      0.036338  0.092016 -0.247730
7      0.077997  0.051083 -0.011320
8      0.059705  0.022107 -0.101678
9     -0.183273  0.046723 -0.068866
10     0.085850  0.065028  0.246387
11     0.075241 -0.006724  0.000722
12    -0.177413 -0.035759 -0.084858

### 5) For each group of four consecutive calendar months in s, find the date on which the highest value occurred.